[Unit]
Description=CU Service
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/root/cu
ExecStartPre=/usr/bin/npm install
ExecStartPre=/usr/bin/npx --yes @permaweb/wallet > /root/cu/.wallet.json
ExecStart=/usr/bin/npm run start
Restart=always

[Install]
WantedBy=multi-user.target