[Unit]
Description=Permaweb Node

[Service]
User=root
Type=simple
Environment=HB_PRINT=http,debug,dev_snp
ExecStart=/root/hb/bin/hb foreground -eval 'hb_http_server:start_node(#{ port=> 10000 }).'
Restart=on-failure

[Install]
WantedBy=multi-user.target
